spring:
  application:
    name: Order Fulfillment Local Self-Managed

dev:
  bpm-crafters:
    process-api:
      adapter:
        c7embedded:
          enabled: false
        c8:
          enabled: true
          service-tasks:
            delivery-strategy: subscription
            worker-id: worker
          user-tasks:
            delivery-strategy: subscription_refreshing
            completion-strategy: job
            schedule-delivery-fixed-rate-in-seconds: 5 # every 5 seconds
            tasklist-url: UNUSED

camunda:
  bpm:
    enabled: false
  client:
    mode: self-managed
    auth:
      username: demo
      password: demo
    worker:
      defaults:
        enabled: true
    tasklist:
      base-url: http://localhost:8081/tasklist
    rest-address: http://localhost:8081

logging:
  level:
    io.camunda.common.auth.DefaultNoopAuthentication: OFF
    io.camunda.zeebe.client.impl.ZeebeCallCredentials: OFF
    dev:
      bpmcrafters:
        processengineapi: TRACE
